bge-small-zh-v1.5/
.idea/
zst_rag/
/bge-large-zh-v1.5/1_Pooling/config.json
/bge-large-zh-v1.5/.mdl
/bge-large-zh-v1.5/.msc
/bge-large-zh-v1.5/.mv
/bge-large-zh-v1.5/config.json
/bge-large-zh-v1.5/config_sentence_transformers.json
/bge-large-zh-v1.5/configuration.json
/bge-large-zh-v1.5/modules.json
/bge-large-zh-v1.5/pytorch_model.bin
/bge-large-zh-v1.5/README.md
/bge-large-zh-v1.5/sentence_bert_config.json
/bge-large-zh-v1.5/special_tokens_map.json
/bge-large-zh-v1.5/tokenizer.json
/bge-large-zh-v1.5/tokenizer_config.json
/bge-large-zh-v1.5/vocab.txt
